<div class="card w-90 h-70 bg-base-100 shadow-xl m-10 pb-0">
  <% if board.board_image.present? %>
  <%= image_tag board.board_image.url %>
   <% else %>
   <%= image_tag "board_placeholder.png", class: "card-img-top", width: "100", height:"100" %>
   <% end %>
  <div class="card-body flex justify-center  ">
    <h2 class="card-title">「<%= board.title %>」</h2>
    <p><%= board.name %>さんの作品</p>
    <p><%= l board.created_at, format: :long%></p>
    <div class="card-actions justify-end">
    <%= render 'shared/twitter'%>
    </div>
  </div>
</div>