<div class="w-5/6 mx-auto max-w-screen-xl">
  <h1 class="font-per flex justify-center text-5xl mb-10">Imagination</h1>

  <div class="justify-center font-kos">
    <%= form_with model: @board do |f| %>
        <%= f.label :出展者名 %>
        <%= f.text_field :name, class: "input input-bordered flex items-center gap-2 mb-10" %>
        <%= f.label :出展作品のタイトル  %>
        <%= f.text_field :title, class: "input input-bordered flex items-center gap-2 mb-10" %>
        <%= f.label :生成した画像をアップロードする %>
        <%= f.file_field :board_image, class: "mb-10 file-input file-input-bordered file-input-primary w-full max-w-x"%>
        <%= f.submit '出展する', class: 'btn btn-primary mb-5' %>
        </div>
    <% end %>
  </div>
</div>