<div class="w-5/6 mx-auto max-w-screen-xl">

<div class="font-DelaGothicOne">Gallary</h1>

    <%= form_with model: @board do |f| %>
        <%= f.label :出展者名 %>
        <%= f.text_field :name, class: "input input-bordered flex items-center gap-2" %>
        <%= f.label :出展作品 %>
        <%= f.text_field :title, class: "input input-bordered flex items-center gap-2", rows: 40 %>
      </div>
      <div class="w-5/6 mx-auto max-w-screen-xl">
        <%= f.label :出展作品を額縁に飾る %>
        <%= f.file_field :board_image %>
      </div>
      <%= f.submit '出展する', class: 'btn btn-primary' %>
      
      <p>子供は迷いません。なので削除機能はありません</p>
      <P>※必須機能ではないので作ってないだけです</p>
    <% end %>

</div>
</div>