<!DOCTYPE html>
  <html>
    <head>
      <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=devide-width, initial-scale=1.0" />

      <title><%= yield :title %></title>
  
      <!-- Googlefontの設定 -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">

      <!-- ここまで -->

      <!-- Twitterカードの設定 -->
      <meta name="twitter:card" content="summary_large_image" />
      <meta name=”twitter:site” content=”@yanapaha” />
      <meta name=”twitter:domain” content=”kodomogokoro.onrender.com” />
      <meta name="twitter:title" content="NOTPERFECTAI" />
      <meta name="twitter:description" content="万能だと信じているAIって、実は万能じゃないかも？" />
      <meta name="twitter:image" content="<%= asset_url('logo.jpg') %>" />
      <!-- ここまで -->

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZZC3B2CR5P"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZZC3B2CR5P');
     </script>
     <!-- ここまで -->
    </head>
    <body>
        <%= render 'shared/header' %>
        <%= yield %>
        </div>
    </body>
  </html>