<!DOCTYPE html>
  <html>
    <head>
      <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=devide-width, initial-scale=1.0" />

      <title>KodomoGokoro</title> 
  
      <!-- Googlefontの設定 -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
      <!-- ここまで -->
    </head>
  
    <body>
        <%= render 'shared/header' %>
        <%= yield %>
        <%= render 'shared/footer' %>
    </body>
  </html>